#body{
  margin: 0;
  padding: 0;
}
#header{
  height: 50px;
  background-color: bisque;
}
#footer{
  height: 300px;
  background-color: burlywood;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
}

.flexible{
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: flex-start;
}

.flexItem{
  width: 250px;
  min-height: 280px;
  margin-right: 20px;
  margin-bottom: 30px;
  border: 1px solid black;
  position: relative;
}


.members__member_img{
  border-radius: 50%;
  border: 1px solid black;
  display: block;
  width: 50%;
  margin: 5% auto;
  object-fit: cover;
}
.members__member_name{
  text-align: center;
}

.members__member_description{
  padding: 0 15px;
  display: block;
}

.members__member_roles{
  position: relative;
  bottom: 10px;
}

.members__member_roles_role{
  display: inline-block;
  color: white;
  text-align: center;
  background: purple;
  /* default bgcolor */
  background: #fb8072;
  margin: 5px 5px 5px 15px;
  padding: 5px 10px;
  /* not necessary border */
  border: 1px solid black;
}

.members__member_crown{
  position: absolute;
  top: 10px;
  right: 10px;
}

@media screen and (max-width: 768px){
  *{
    font-size: 7vw;
  }
}